absl-py==1.3.0
astor==0.8.1
astunparse==1.6.3
cachetools==5.2.0
certifi @ file:///croot/certifi_1665076670883/work/certifi
charset-normalizer==2.1.1
cloudpickle==2.2.0
colorama==0.4.5
contextlib2==21.6.0
contourpy==1.0.5
cycler==0.11.0
dgl==0.6.1
dnspython==2.2.1
filelock==3.8.0
flatbuffers==22.9.24
fonttools==4.38.0
future==0.18.2
gast==0.4.0
google-auth==2.13.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.50.0
h5py==3.7.0
huggingface-hub==0.10.1
hyperopt==0.1.2
idna==3.4
importlib-metadata==5.0.0
Jinja2==3.1.2
joblib==1.2.0
json-tricks==3.15.5
keras==2.10.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
libclang==14.0.6
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.6.2
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626186064646/work
mkl-service==2.4.0
-e git+https://github.com/google-research/nasbench.git@b94247037ee470418a3e56dcb83814e9be83f3a8#egg=nasbench
networkx==2.8.7
nni==2.9
numpy @ file:///croot/numpy_and_numpy_base_1665773175172/work
oauthlib==3.2.2
opencv-python==4.6.0.66
opt-einsum==3.3.0
packaging==21.3
pandas==1.5.1
Pillow==9.2.0
prettytable==3.4.1
protobuf==3.19.6
psutil==5.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.10.1
pymongo==4.3.2
pynvml==11.4.1
pyparsing==3.0.9
python-dateutil==2.8.2
PythonWebHDFS==0.2.3
pytz==2022.5
PyYAML==6.0
requests==2.28.1
requests-oauthlib==1.3.1
responses==0.22.0
rsa==4.9
schema==0.7.5
scikit-learn==1.1.2
scipy==1.9.3
seaborn==0.12.1
simplejson==3.17.6
six @ file:///tmp/build/80754af9/six_1644875935023/work
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-logger==0.1.0
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5.1
tensorflow-estimator==2.10.0
tensorflow-gpu==2.10.0
tensorflow-io-gcs-filesystem==0.27.0
termcolor==2.0.1
thop==0.1.1.post2209072238
threadpoolctl==3.1.0
timm==0.6.11
toml==0.10.2
torch==1.9.0
torch-cluster==1.6.0
torch-geometric==2.1.0.post1
torch-scatter==2.0.9
torch-sparse==0.6.12
torchvision==0.10.0
tqdm==4.64.1
typeguard==2.13.3
types-toml==0.10.8
typing_extensions @ file:///tmp/abs_ben9emwtky/croots/recipe/typing_extensions_1659638822008/work
urllib3==1.25.10
wcwidth==0.2.5
websockets==10.3
Werkzeug==2.2.2
wrapt==1.14.1
zipp==3.9.0
